body{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background-color: red;
}
aside, footer{
	padding: 5px;
}


header img{
	height: 250px;
	width: 100%;
	background-size: cover;
}
nav{
	text-decoration: none;
	background-color: salmon;
	padding: 5px;
	border-top: 5px solid lightskyblue;
}
nav ul{
	padding: 0px;
	margin: 0px;
	height: 20px;
	line-height: 20px;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
nav ul ul{
	display: none;
	position: absolute;
}
nav ul li:hover > ul{
	display: block;
}
nav ul li ul li a{
	display: block;
	text-decoration: none;
}

nav ul ul li{
	display: block;
	background-color: black;
}
main{
	float: left;
	width: 60%;
	background-color: #ffef96;
	margin-right: 20px;
	box-sizing: border-box;
	padding-top: 5px;
}
aside{
	float: right;
	width: 35%;
	margin: 5px;
	background-color: #b1cbbb;
	box-shadow: 1px 0px 5px 5px white;
}

aside .satu{
	background-color: lightgreen;
}

aside .dua{
	background-color: white;
}

aside .tiga{
	background-color: salmon;
	margin-bottom: 10px;
}
aside h2{
	padding: 5px;
	background-color: aqua;
	color: white;
	box-shadow: 1px 1px 5px 5px black;
}

aside a{
	text-decoration: none;
	padding: 5px;
	font-size: 15px;
	display: block;
}

aside a:hover{
	background-color: black;
	color: white;
}

aside .tombol{
	background-color: yellow;
	box-shadow: 1px 1px 5px 5px black;
}


article{
	width: 30%;
	display: inline-block;
	margin-right: 12px;
	padding: 5px;
	border: 1px solid black;
	background-color: lightskyblue;
	box-shadow: 1px 1px 5px 5px white;
}

article h2{
	margin-bottom: 0px;
}
article p{
	margin-top: 0px;
}
article img{
	height: 100px;
	width: 80px;
	float: left;
	padding: 5px;
}

article footer{
	background-color: black;
}

nav ul li a:hover{
	padding: 8px;
	height: 20px;
	color: white;
	background-color: #96ceb4;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

article input{
	float: right;
	margin-bottom: 5px;
	background-color: salmon;
	box-shadow: 1px 1px 5px 5px #888888;
}

footer{
	clear: both;
	overflow: auto;
	background-color: #39ac39;
	color: white;
	box-shadow: 1px 1px 5px 5px white;
}

footer .kiri{
	float: right;
	margin-top: 50px;
}

footer .kanan{
	float: left;
	width: 25%;
}

footer .kanan img{
	height: 100px;
	width: 100px;
	float: left;
}
